Thank you for booking with us!

<p>Your booking information is as follows:</p>
<p>From: <%= @flight.from_airport.code %></p>
<p>To: <%= @flight.to_airport.code %></p>
<p>Departing on: <%= @flight.departure %></p>
