<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><%= link_to "Speedy Flights", flights_path %></span>
    </div>
  </nav>
</div>
