<div class="home-container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome To Flight Booker!</h1>
    <p class="lead">A lightweight and minimal way to book your next amazing vacation!</p>
    <hr class="my-4">
    <p class="lead">Click the button below to start your next adventure!</p>
    <%= link_to "Get Started!", flights_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
